{% extends "base.html" %}
{% load article_tags %}

{% block title %} articles {% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>文章列表</h1>
    
    <p> 
    <form action="." method="POST" class="form-horizontal" role="form">{% csrf_token %}
    <!--<span style="margin-left:20px" class="glyphicon glyphicon-search"></span>-->
{{ search_form.keywords }}  按{{ search_form.by_which }}      开始日期{{ search_form.date_st }} 结束日期{{ search_form.date_ed }}
    <input type="submit" name="" value="开始搜索" class="btn btn-primary">
    </form>

</p>
</div>

<div>
</div>


<div class="container">
    {% for article in articles %}
        <div class="list-group">
            <a href="{{ article.get_url_path }}" class="list-group-item active">
                <h4 class="list-group-item-heading">{{ article.title }}</h4>
            </a>
                <p class="list-group-item-text">作者：<a href="{% url 'article:author_articles' article.author.username %}">{{ article.author }}</a></p>
                <p class="list-group-item-text">概要：{{ article.body|slice:'80'|linebreaks }}</p>
        </div>
    {% endfor %}

<strong>{% total_articles %}</strong> Articles Total,
{% include "paginator.html" %} 
</div>
{% endblock %}
