{% extends "base.html" %}
{% load article_tags %}
{% load staticfiles %}

{% block title %}article detail {% endblock %}
{% block content %}

{% with total_likes=article.users_like.count users_like=article.users_like.all user_comments_count=article.user_comments.count comments_count=article.comments.count %}


<div class="container">
<div class="col-md-9">
<header>
<h1>{{ article.title }}</h1>
<p>
<a href="{% url 'article:author_articles' article.author.username %}">{{ article.author.username }}</a>
<span style="margin-left:20px" class="glyphicon glyphicon-thumbs-up">{{ total_likes }}like{{ total_likes | pluralize:",s" }}</span>
<span style="margin-left:20px">{{ total_views }}view{{ total_views | pluralize:"s" }}</span>
</p>
<p><span style="margin-right:10px"><strong>Tags:</strong></span>{{ article.article_tag.all | join:", "}}</p>
<p><span style="margin-right:10px"><strong>created</strong>:{{ article.created }}</span> <span style="margin-left:20px"><strong>updated</strong>:{{ article.updated }}</span></p>
</header>

<link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}" >


<div id="editormd-view">
        <div> 
        <textarea id="append-test"style="display:none;">{{ article.body }}</textarea> 
        <!--{{ article.body | markdown }}-->
        </div>
</div>
<div>
        <p class="text-center">
            <a onclick="like_article({{ article.id }}, 'like')" href="#"><span class="glyphicon glyphicon-thumbs-up">like</span></a>
            <a onclick="like_article({{ article.id }}, 'unlike')" href="#"><span style="margin-left:15px;" class="glyphicon glyphicon-thumbs-down">unlike</span></a>
        </p>
</div>

<div>
        <p class="text-center"><strong>点赞本文的读者</strong></p>
        {% for user in article.users_like.all %}
        <p class="text-center">{{ user.username }}</p>
        {% empty %}
        <p class="text-center">还没有人对此文章表态</p>
        {% endfor %}
</div>

<hr>
<div>
    <h3><span class="glyphicon glyphicon-bullhorn"></span> 本文有{{ article.comments.count|add:user_comments_count }}评论</h3>
    {% if comments_count or user_comments_count %}
    {% for comment in article.user_comments.all %}
    <div>
        <p>
            {% if comment.commentator.userinfo.photo %}
           <a href="{% url 'article:author_articles' comment.commentator.username %}"><img width="35" height="35" alt="害羞的用户" src="{{ comment.commentator.userinfo.photo }}"></a>
            {% else %}
           <a href="{% url 'article:author_articles' comment.commentator.username %}"><img width="35" height="35" alt="害羞的用户" src="{% static 'images/anomynous.jpg' %}"></a>
            {% endif %}
            <strong>{{ comment.commentator }}</strong>说：</p>
        <p style="margin-left:40px;">{{ comment.body }}</p>
    </div>
    {% endfor %}
    {% for comment in article.comments.all %}
    <div>
        <p>
           <img width="35" height="35" alt="游客" src="{% static 'images/anomynous.jpg' %}">
         <strong>{{ comment.commentator }}</strong>说：</p>
        <p style="margin-left:40px;">{{ comment.body }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>没有评论</p>
    {% endif %}

    <h3><span class="glyphicon glyphicon-send"></span> 我有话要说……</h3>
    <form action="." method="POST" class="form-horizontal" role="form" >{% csrf_token %}
        <div class="form-group" id="louzhu">
            <label for="inputEmail3" class="col-sm-2 control-label">楼主</label>
            <div class="col-sm-10">
                {{ comment_form.commentator }}
                {% if cur_user %}
                    <font id="login_commentator" style="display:none;font-size:120%;color:lightblue;" nowrap> {{ cur_user.username }} &nbsp </font>
                    <input id="ck1" type="checkbox" name="if_as_login" value="1" onclick="checkboxOnclick(this)">
                    是否以{{ cur_user.username }}身份发表？
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">内容</label>
            <div class="col-sm-10">
                {{ comment_form.body }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p><input type="submit" name="" value="发布评论" class="btn btn-primary" onclick="removeRequire()" ></p>
            </div>
        </div>
    </form>
</div>
</div>

<div class="col-md-3">
<p class="text-center"><h3>最受欢迎</h3></p>
<ol>
    {% for article_rank in most_viewed %}
    <li>
        <a href="{{ article_rank.get_url_path }}">{{ article_rank.title }}</a>
    </li>
    {% endfor %}
</ol>
<hr>
<p class="text-center"><h3>最近更新</h3></p>
{% latest_articles 4 %}
<hr>
<p class="text-center"><h3>最多评论</h3></p>
{% most_commented_articles as most_comments %}
<ul>
    {% for comment_article in most_comments %}
    <li>
        <a href="{{comment_article.get_url_path}}">{{ comment_article.title }}</a>
    </li>
    {% endfor %}
</ul>
<hr>
<p class="text-center"><h3>类似文章</h3></p>
<ul>
{% for similar in similar_articles %}
<li><a href="{{ similar.get_url_path }}">{{ similar.title }}</a></li>
{% empty %}
<p>找不到相似文章</p>
{% endfor %}
</ul>
</div>

<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "editor/lib/marked.min.js" %}'></script>
<script src='{% static "editor/lib/prettify.min.js" %}'></script>
<script src='{% static "editor/lib/raphael.min.js" %}'></script>
<script src='{% static "editor/lib/underscore.min.js" %}'></script>
<script src='{% static "editor/lib/sequence-diagram.min.js" %}'></script>
<script src='{% static "editor/lib/flowchart.min.js" %}'></script>
<script src='{% static "editor/lib/jquery.flowchart.min.js" %}'></script>
<script src='{% static "editor/editormd.js" %}'></script>


<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>

<script type="text/javascript">
$(function(){
    editormd.markdownToHTML("editormd-view",{
    htmlDecode:"style, script, iframe",
    emoji:true,
    taskList:true,
    tex:true,
    flowChar:true,
    sequenceDiagram:true,
});
});
</script>


<script type="text/javascript">
    function like_article(id, action){
         $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
 });
        $.ajax({
            url:"{% url 'article:like_article' %}",
            type:"POST",
            data:{"id":id, "action":action, "article_url":window.location.href},
            success:function(e){
                if(e=="1"){
                layer.msg("感谢点赞");
                window.location.reload();
                }else if(e=="2"){
                layer.msg("我会继续努力");
                window.location.reload();
                }else{
                window.location.assign(e);
}
        },
    });
}

function checkboxOnclick(checkbox){
    var commentator = document.getElementsByName('commentator')[0];
    var login_commentator = document.getElementById('login_commentator');
    var div_louzhu = document.getElementById('louzhu');
    
    if(document.getElementById("ck1").checked){
    login_commentator.style.display="";
    commentator.style.display="none";
    commentator.required="False";
    }
    else
        {
    commentator.style.display="";
    login_commentator.style.display="none";

}
}

function removeRequire(){
    document.getElementById("id_commentator").required = false;//avoiding element unfocus error when submit

}
</script>
{% endwith %}
{% endblock %}
