{% extends "base.html" %}
{% load article_tags %}

{% block title %} articles {% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>文章列表</h1>
    
    <p> 
    <form id="form1" action="{% url 'article:article_search' %}" method="POST" class="form-horizontal" role="form">{% csrf_token %}
    <!--<span style="margin-left:20px" class="glyphicon glyphicon-search"></span>-->
搜索关键字{{ search_form.keywords }}  按{{ search_form.by_which }}   开始日期{{ search_form.date_st }} 结束日期{{ search_form.date_ed }}

    </p>
     <p class="text-center">
            <a onclick="start_search({{ article.id }})" href="#"><span class="glyphicon glyphicon-search">开始搜索</span></a>
    </p>
</div>

<div>
</div>


<div class="mid-container">
<div class="article-container">
    {% for article in articles %}
        <div class="list-group">
            <a href="{{ article.get_url_path }}" class="list-group-item active">
                <h4 class="list-group-item-heading">{{ article.title }}</h4>
            </a>
                <p class="list-group-item-text">作者：<a href="{% url 'article:author_articles' article.author.username %}">{{ article.author }}</a></p>
                <p class="list-group-item-text">概要：{{ article.body|slice:'80'|linebreaks }}</p>
        </div>
    {% endfor %}

</div>
<strong>{% total_articles %}</strong> Articles Total,
{% include "paginator.html" %} 
</div>


<script type="text/javascript">
    function start_search(article_id){
         $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
 });
        $.ajax({
            url:"{% url 'article:article_search' %}",
            dataType:"json", 
            type:"POST",
            data: $('#form1').serialize(),
            success:function(data){
                var status = data.status;
                // console.log(data)
                if(status=='1'){
                var html = "";
                $(".mid-container").empty();
                if (data.articles.length){
                html += "<p>一共有"+data.articles.length+"个结果。</p>"; 
                for(var i=0;i<data.articles.length;i++){
                    title = data.articles[i][0];
                    authorname = data.articles[i][1];
                    article_url = data.articles[i][3];
                    body = data.articles[i][4];
                    html+='<div class="list-group">'+
            '<a href='+article_url+' class="list-group-item active">'+
                '<h4 class="list-group-item-heading">'+title+'</h4>'+
            '</a><p class="list-group-item-text">作者：<a href="/article/list-article-titles/'+authorname+'">'+authorname+'</a></p>'+
               '<p class="list-group-item-text">概要：'+body+'</p> </div>';

                }
               }
               else{
                 html += "抱歉，没有匹配的结果。"; 
                } 
                $(".mid-container").html(html);
                }else//keywords is None
                {
                alert("关键字不能为空!");
}
        },
    });
}
</script>
{% endblock %}
