{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>修改密码</h1>
    <p>为了保证安全，请先输入旧密码，然后输入新密码两次~</p>
    {% if form.new_password1.help_text %}
<div class="text-left" style="margin-left:400px">
    <p>{{ form.new_password1.help_text|safe }} </p>
</div>
    {% endif %}
    
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {{ form.old_password.label_tag}}
        </label>
       <div class="col-md-6 text-left">{{ form.old_password }}</div>
      </div>

     <div class="form-group">
         <label class="col-md-5 control-label text-right">
            {{ form.new_password1.label_tag}}
         </label>
        <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
    </div>

    <div class="form-group">
        <label class="col-md-5 control-label text-right">
            {{ form.new_password2.label_tag }}
        </label>
       <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
    </div>

    <input type="submit" value="Change my password" class="btn btn-primary btn-lg"/>

</form>
</div>
{% endblock %}
    
