{% extends "base.html" %}

{% block title %}Register User{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>新用户注册</h1>
    <br>
    <p>已有账号？  请<strong><a href="{% url 'account:user_login' %}">点我登录</a></strong></p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
       <!-- {{ form.as_p}}-->
       <div class="form-group">
             <label for="{{ form.username.id_for_lable }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-user"></span>Username</label>
        <div class="col-md-6 text-left">{{ form.username }}</div>
      </div>


     <div class="form-group">
             <label for="{{ form.password.id_for_lable }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-lock"></span>Password</label>
        <div class="col-md-6 text-left">{{ form.password }}</div>
        </div>

     <div class="form-group">
             <label for="{{ form.password.id_for_lable }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-lock"></span>Confirm Password</label>
        <div class="col-md-6 text-left">{{ form.password2 }}</div>
        </div>

       <div class="form-group">
             <label for="{{ form.email.id_for_lable }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-envelope"></span>Email</label>
        <div class="col-md-6 text-left">{{ form.email }}</div>
      </div>


     <div class="form-group">
             <label for="{{ profile.phone.id_for_lable }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-earphone"></span>Phone(Optional)</label>
        <div class="col-md-6 text-left">{{ profile.phone}}</div>
        </div>

    
     <div class="form-group">
             <label for="{{ profile.birth.id_for_lable }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-star"></span>Birth Date(Optional)</label>
        <div class="col-md-6 text-left">{{ profile.birth}}</div>
        </div>

      <input type="submit" class="btn btn-primary btn-lg"value="Register">
   </form>
</div>
{% endblock %}
