*.env
*.out
*.swp
*.swo
*.swn
*.sqlite3
*.log
*.pid
__pycache__
static/images/
!static/images/back_logo.png
!static/images/logo.png
!static/images/home.jpg
!static/images/anomynous.jpg

media/
logs/
mysite/redis_settings.py
mysite/email_settings.py
