*.out
*.swp
*.swo
*.swn
*.sqlite3
*.log
*.pid
__pycache__
migrations/
static/images/
!static/images/back_logo.png
!static/images/logo.png
!static/images/home.jpg

media/
logs/
mysite/redis_settings.py
mysite/email_settings.py
