<div class="container">
    <hr>
    <div class="site-info" style="text-align: center">
            Copyright© 2019 &nbsp 
            蜀ICP备19010739号-1 &nbsp
            <a href ="https://github.com/tianwei1992">田田田田</a>
             &nbsp | &nbsp 
            <a href="{% url 'rss' %}">
            <i class="glyphicon glyphicon-send"></i>
             RSS</a>
             &nbsp | &nbsp 
            <a href="{% url 'sitemap' %}">
            <i class="glyphicon glyphicon-map-marker"></i>
             SiteMap</a>
    </div>
</div>

